<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="KursachConnectionString" connectionString="Data Source=DESKTOP-E9694FA\SQLEXPRESS;Initial Catalog=Kursach;Integrated Security=True;" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>